$primary-color: color("materialize-green", "base") !default;
$primary-color-light: color("materialize-green", "lighten-4") !default;
$primary-color-dark: color("materialize-green", "darken-2") !default;
$secondary-color: color("materialize-deep-orange", "base") !default;
$success-color: color("materialize-green", "base") !default;
$error-color: color("materialize-red", "base") !default;
$link-color: color("materialize-deep-orange", "base") !default;

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4CAF50;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4CAF50;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4CAF50;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4CAF50;
}


.tabs .tab a {
  color: white;
}
.tabs .tab .active {
  color: #FF5722;
}

.window-background {
  background-color: color("materialize-grey", "lighten-4");
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: color("materialize-grey", "lighten-4");
}

.side-menu {
  background-color: #388E3C;
  width: 100%;
  margin-top: 10px;
}
.bot-sidebar {
  margin-top: 10px;
}
.script-card-content {
  height: 250px;
}
.icon-bottom {
  vertical-align: bottom;
  color: white;
}
.manual-card-action {
  height: 91px;
}
nav .nav-wrapper, .nav-wrapper {
  height: 72px;

}

.bot-sidebar a:visited {
  color: #388E3C;
}

.settings {
  color: green;
}
.big-pic {
 width: 100px;
 height: 100px;
}

.edit-link {
  display: inline-block;
}

form label {
  font-size: 1.5em;
}
.alert {
  font-size: 1.5em;
}
dl {
  font-size: 2em;
}

.conversation-bubble-egress, .conversation-bubble-ingress {
  position: relative;
  width: 400px;
  min-height: 100px;
  padding: 0px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  border: #7F7F7F solid 4px;
  color: #2B3E50;
  padding: 10px;

  &:after, &:before {
    content: '';
    position: absolute;
    border-style: solid;
    top: 70%;
    width: 0;
    display: block;
    border-color: transparent #7F7F7F;
    z-index: 0;
    margin-top: -18px;
  }

  &:after {
    z-index: 1;
    margin-top: -15px;
  }

}

.conversation-bubble-egress {
  background: #FFFFFF;

  &:before{
    left: -35px;
    border-width: 18px 31px 18px 0;
  }

  &:after {
    border-width: 15px 28px 15px 0;
    border-color: transparent #FFFFFF;
    left: -28px;
  }
}

.conversation-bubble-ingress {
  background: #D3D3D3;

  &:before{
    right: -35px;
    border-width: 18px 0 18px 31px;
  }

  &:after {
    border-width: 15px 0 15px 28px;
    border-color: transparent #D3D3D3;
    right: -28px;
  }

}

/*.highlight {*/
  /*background-color: #ffffcc;*/
/*}*/

.account_card {
  min-height: 300px;
}
.account_card_details {
    font-size: 0.8em;
}
.new_account_input input {
  font-size: 1.0em;
}

.bot-panel {
  height: 400px;
}
.bot-sidebar {
  margin-bottom: 1rem;
}
.bot-button {
  width: 100%;
}
.bot_ruler {
  text-align: center;
  font-weight: 100;
  font-size: small;
  color: green;
}
.logo {
  height: 60px;
  padding-left: 70px;
  padding-top: 5px;
}

#bot-test-modal{
    .conversation{
      border: 1px solid #388E3C;
      height: 400px;
      margin-top: 12px;
      padding: 5px 3%;
      overflow-y: scroll;

      .message-wrapper {
        margin-bottom: 9px;

        &::after {
          content: "";
          display: table;
          clear: both;
        }
      }

      .message {
        display: inline-block;
        position: relative;
        max-width: 236px;
        border-radius: 7px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

        &.message-mine {
          float: right;
          background-color: #DCF8C6;
        }

        &.message-their {
          float: left;
          background-color: #DCF8C6;
        }

        &.message-their::before, &.message-mine::before, {
          content: "";
          position: absolute;
          bottom: 3px;
          width: 12px;
          height: 19px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &.message-their::before {
          left: -11px;
          background-image: url(/bot_test_modal/message-ingress.png)
        }

        &.message-mine::before {
          right: -11px;
          background-image: url(/bot_test_modal/message-egress.png)
        }

        .text {
          padding: 5px 7px;
          word-wrap: break-word;

          &::after {
            content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
            display: inline;
          }
        }

        .message-timestamp {
          position: absolute;
          bottom: 2px;
          right: 7px;
          color: gray;
          font-size: 12px;
        }
      }
    }

}

nav ul a[disabled]{
  cursor: default;
  color: #ccc;
  &:hover{ background-color: inherit !important; }
}
