.settings {
  color: green;
}
.big-pic {
 width: 100px;
 height: 100px;
}

.edit-link {
  display: inline-block;
}

form label {
  font-size: 1.5em;
}
.alert {
  font-size: 1.5em;
}
dl {
  font-size: 2em;
}

.conversation-bubble-egress, .conversation-bubble-ingress {
  position: relative;
  width: 400px;
  min-height: 100px;
  padding: 0px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  border: #7F7F7F solid 4px;
  color: #2B3E50;
  padding: 10px;

  &:after, &:before {
    content: '';
    position: absolute;
    border-style: solid;
    top: 70%;
    width: 0;
    display: block;
    border-color: transparent #7F7F7F;
    z-index: 0;
    margin-top: -18px;
  }

  &:after {
    z-index: 1;
    margin-top: -15px;
  }

}

.conversation-bubble-egress {
  background: #FFFFFF;

  &:before{
    left: -35px;
    border-width: 18px 31px 18px 0;
  }

  &:after {
    border-width: 15px 28px 15px 0;
    border-color: transparent #FFFFFF;
    left: -28px;
  }
}

.conversation-bubble-ingress {
  background: #D3D3D3;

  &:before{
    right: -35px;
    border-width: 18px 0 18px 31px;
  }

  &:after {
    border-width: 15px 0 15px 28px;
    border-color: transparent #D3D3D3;
    right: -28px;
  }

}



.highlight {
  background-color: #ffffcc;
}

.account_card {
  min-height: 300px;
}
.account_card_details {
    font-size: 0.8em;
}
.new_account_input input {
  font-size: 1.0em;
}

.setting-input {
  height: 120px;
}
