template(name='manualInstall')
  .col.s12.m4
    .card.green.darken-2.script-card
      .card-content.white-text.script-card-content
        .row
          .left.card-title Manual Install
          a.right.btn-floating.waves-effect.waves-light.deep-orange.new_bot
            i.material-icons.addScript add

        .row
          | To install a locally developed bot, provide the directory name of the 
          | package here. Or, to install one available on npmjs.com, 
          | specify the package name
        .input-field.white-text
          input.pkg(type='text' name='name')
          label.active.white-text(for='name') NPM directory or package name
      .card-action.manual-card-action
