template(name='scriptCard')
  .row
    .col.s12.m6
      .card.green.darken-1
        .card-content.white-text
          .row
            span.card-title.left {{name}}
            i.material-icons.small.right {{icon_class}}
          .row
            {{ short_desc }}
        .card-action
          .row.center-align
            a.waves-effect.waves-light.btn.green.darken-2.new_bot 
              | New
              i.material-icons.left assignment_ind
            a.waves-effect.waves-light.btn.green.darken-2.try 
              | Try
              i.material-icons.left chat_bubble_outline
            a.waves-effect.waves-light.btn.green.darken-2.github
              | GitHub
              i.zmdi.zmdi-github.left
