template(name='scripts')
  .col.s2
    {{> scriptSidebar}}
  .col.s10
    if selectedScript 
      {{> scriptShow }}
    else
      if firstScript
        p Please choose a script from the list to the left
      else
        h1 Scripts
        You have no scripts yet
        button Click here 
        p to install your first script
