template(name="scriptSidebar")
  .collection
    each scripts
      a.collection-item.green.script-item(href='/script/{{_id}}' class=activeStyle) 
        {{ name }}
  .center-align
    a.btn-floating.btn-large.deep-orange.add-bot
      i.large.material-icons add
