template(name='scripts')
  .col.s2
    {{> scriptSidebar}}
  .col.s10
    h1 Script Library
    p.flow-text These are all the scripts you have installed. They determine the basic behavior for your bots.
    {{> scriptManualInstall }}
    each scripts
      {{> scriptCard}}
