template(name='scriptCard')
  .row
    .col.s12.m6
      .card.green.darken-1
        .card-content.white-text
          .row
            .col.s6.offset-s3.center-align
              span.card-title.left {{name}}
            .col.s2.offset-9.right
              i.material-icons.medium {{icon_class}}
          .row.center-align
            {{ short_desc }}
        .card-action
          .row.center-align
            a.waves-effect.waves-light.btn.green.darken-2.new_bot 
              | New
              i.material-icons.left assignment_ind
            if try_link
              a.waves-effect.waves-light.btn.green.darken-2(href='{{try_link}}')
                | Try
                i.material-icons.left chat_bubble_outline
            if repo_link
              a.waves-effect.waves-light.btn.green.darken-2.github(href='{{repo_link}}')
                | GitHub
                i.zmdi.zmdi-github.left
