template(name='scriptCard')
  ul.dropdown-content(id=dropdownId)
    li
      a.info
        i.black-text.material-icons.small.icon-bottom info
        | Details
    li
      a.github(href='{{repo_link}}')
        i.black-text.icon-bottom.zmdi.zmdi-github.zmdi-hc-2x.center-align(style="width: 30px")
        span Repo
    li
      a.remove 
        i.black-text.material-icons.small.icon-bottom delete
        span Delete
  .col.s12.m4
    .card.teal.darken-2.script-card(class="{{hide}}")
      .card-content.white-text.script-card-content
        .row
          .left.card-title {{name}}
          a.dropdown-button.white-text.flow-text.right(href="#!" data-activates="{{dropdownId}}")
            i.material-icons more_vert
        .row
          p {{ short_desc}}
      .card-action
        .row.center-align
          a.btn.waves-effect.waves-teal.red.select-script
            | Select

    .col.s6
      #desc.modal.modal-fixed-footer
        .modal-content
          h4 {{ name }}
          |       
          {{{ desc_markdown }}}
        .modal-footer
          a.modal-action.modal-close.waves-effect.waves-teal.btn-flat(href='#!') 
            | Close
