template(name="home")
  h3 Active sessions
    {{> reactiveTable collection=activeSessions class="table highlight" settings=tableSettings}}
  h3 Sessions for last 14 days
  canvas#chart(width="800",height="300")
