<template name="numberPortingRequestList">

  <ul class="nav nav-tabs">
    <li class="{{ activeTab 'new'}}" role="presentation">
      <a href="?current_tab=new">New</a>
    </li>
    <li class="{{ activeTab 'ready' 'ready'}}" role="presentation">
      <a href="?current_tab=ready">Ready</a>
    </li>
    <li class="{{ activeTab 'started'}}" role="presentation">
      <a href="?current_tab=started">Started</a>
    </li>
    <li class="{{ activeTab 'completed'}}" role="presentation">
      <a href="?current_tab=completed">Completed</a>
    </li>
  </ul>


  {{> UI.dynamic template=currentTabTemplate }}


</template>
