template(name='botDetails')
  .row
    .col-md-12
      h1 {{name}}
  .row
    .col-md-8
      .panel.panel-primary
        .panel-heading Current Settings
        .panel-body
          form.form-horizontal(name='network-address')
            .form-group
              label.col-md-2.control-label(for='notificationEmailsId')
                | Notification Emails
              .col-md-10
                input.form-control(type='text', name='notificationEmails', value='{{ notificationEmails }}')
              span.material-input
            .form-group
              label.col-md-2.control-label(for='notificationEmailsId')
                | Post Conversation Webhook
              .col-md-10
                input.form-control(type='text', name='postConversationWebhook', value='{{ postConversationWebhook }}')
              span.material-input
            each settings
              .form-group
                label.col-md-2.control-label(for='notificationEmailsId')
                  | {{name}}
                .col-md-10
                  textarea.form-control.setting-input(name='settings[{{@index}}][value]') {{ value }}
                  input(type='hidden', name='settings[{{@index}}][type]', value='{{type}}')
                  input(type='hidden', name='settings[{{@index}}][name]', value='{{name}}')
                span.material-input
            .text-center
              button.btn.btn-raised.btn-primary(type='submit') Save changes
    {{>scriptCard script}}
    .col-md-4
      .panel.panel-primary
        .panel-heading Network Connections
        .panel-body
          .list-group
              each addresses
                .list-group-item
                  .row-action-primary
                    i.material-icons
                      | chat
                  .row-content
                    .action-secondary
                      a.delete 
                        i(name='{{networkHandleName}}').material-icons
                          | clear
                    h4.list-group-item-heading
                      {{networkHandleName}}
                    p.list-group-item-text
                      {{ keywords }}
                .list-group-separator      
              .list-group-item
                .row-action-primary
                  i.material-icons(data-target='#addBotAddressModal', data-toggle='modal', href='#')
                    | add
                .row-content
                  h4.list-group-item-heading
                    | New Connection

  .row      
    .col-md-6.col-md-offset-3
      #addBotAddressModal.modal.fade
        .modal-dialog
          .modal-content
            form#new-bot-address-form
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4.modal-title Add Bot Address
              .modal-body
                .row
                  .col-md-6
                    .form-group
                      label(for='newNetwork') Network Name
                      input#newNetwork.form-control(name='newNetwork')
                    .form-group
                      label(for='newNetworkHandle') Network Handle
                      input#newNetworkHandle.form-control(name='newNetworkHandle')
                  .col-md-6
                    .form-group
                      label(for='network-handles') Choose Existing Network Handles
                      select#network-handles.form-control(name='networkHandleId')
                        option(value='') Select Network Handle
                        each networkHandles
                          option(value='{{_id._str}}') {{ name }}
                .row
                  .form-group
                    label(for='keywords') Keywords
                      | {{selectizeInput}}
                      input#keywords.selectize(name='keywords' type='text' value="{{keywords}}")

              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='submit') Save changes
