<template name="accountsList">

  <div class="table-responsive">
    <table class="table table-hover account-table">
      <thead>
        <tr>
          <th> <h3>Accounts</h3> </th>
          <th> <h3>Bots</h3> </th>
          <th>
            <a class="btn btn-success pull-right" href="/accounts/new">
              <span class="glyphicon glyphicon-plus"></span>
              New Account
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each accounts }}
        <tr>
          <td>
            <a class="btn btn-default" href="{{pathFor 'accountPage' _id=this._id }}">{{ getEmail this }}</a>
          </td>
          <td> {{profile.roomsCount}} </td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
