<template name="accountPage">
  Account: {{username}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail account_card">
      <h2 class="text-center">
        15084707171
      </h2>
      <div class="caption">
        <dl>
          <dt class="account_card_details">
            <a href="#">information</a> : Anderson Hardware 
          </dt>
          <dt class="account_card_details">
            <a href="#">cleaning</a> : Duct Cleaning Service 
          </dt>
        </dl>
      </div>
    </div>
  </div>
</template>
