<template name="accountPage">
  <h1>Account: {{username}}</h1>
  <table>
  <tbody>
  {{#each networkHandles}}
  <tr>
    <td><a href="/network_handles/{{this._id}}">{{network}}:{{did}}</a></td>
    <td>
      3
    </td>
  </tr>
  {{/each}}
  </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-success" href="#">New Network Handle</a> 
    </div>

    <div class="col-md-12">
      <a class="btn btn-success pull-right" href="/number_porting_requests/new?account_id={{_id.toHexString }}">New Number Porting Request</a> 
    </div>
  </div>
</template>
