template(name="masterLayout")
  nav.green.darken-2
    .nav-wrapper
      a.brand-logo(href='#!') GreenBot
      a.button-collapse(href='#', data-activates='mobile-demo')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          {{> loginButtons}}
        li
          a(href='/library') Library
        li
          a(href='https://github.com/green-bot/greenbot-core/wiki/{{ wikiName }}') Help
      ul#mobile-demo.side-nav
        li
          a(href='sass.html') Sass
        li
          a(href='badges.html') Components
        li
          a(href='collapsible.html') Javascript

  .row
    .col.s2
      {{> botSidebar}}
    .col.s10
      {{> yield}}
