template(name='navItems')
  li
    {{> loginButtons}}
  li
    a(href='/bots' class="{{isActive path='bot' regex=true}}") Bots
  li
    a(href='/dev-tools' class="{{isActive path='/dev-tools'}}") Dev Tools
  li
    a(href='/scripts' class="{{isActive route='^scripts' regex=true}}") Script Library
  li
    a(href='https://github.com/green-bot/greenbot-core/wiki/{{ wikiName }}') Help
