template(name='navItems')
  li
    {{> loginButtons}}
  li
    a(href='/bot/{{lastBotAdded}}') Bots
  li
    a(href='/dev-tools') Dev Tools
  li
    a(href='/scripts') Script Library
  li
    a(href='https://github.com/green-bot/greenbot-core/wiki/{{ wikiName }}') Help
