template(name='navbar')
  nav
    .nav-wrapper.green.darken-2
      a.brand-logo(href='#') GreenBot Admin
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='badges.html') Reports
        li
          a(href='collapsible.html') Settings
        li
          a(href='collapsible.html') Bot Library
        li
          a(href='collapsible.html') Help
        li
          a(href='collapsible.html') Logout
