template(name='navbar')
  nav
    .nav-wrapper.green.darken-2
      a.brand-logo(href='/') GreenBot
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='/library') Bot Library
        li
          a(href='http://www.green-bot.org') Help
        li
          a(href='/logout') Logout
