template(name='navbar')
  nav
    .nav-wrapper.green.darken-2
      a.brand-logo(href='/')
        img.logo(src="/img/logo.png")
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='/library') Library
        li
          a(href='https://github.com/green-bot/greenbot-core/wiki/{{ wikiName }}') 
            | Help
        li
          a(href='/logout') Logout
