template(name='botRuler')
  nav.no-shaddow
    .nav-wrapper.white
      a.brand-logo.grey-text {{name}}
      ul.right
        li#info
          a( href="/bots/{{currentBotId}}" )
            i.small.material-icons.grey-text info
        li#convos
          a( href="/bots/{{currentBotId}}/convos" )
            i.small.material-icons.grey-text chat
        li#data
          a( href="/bots/{{currentBotId}}/data" disabled=isScriptGone)
            i.small.material-icons.grey-text save
        li#networks
          a( href="/bots/{{currentBotId}}/networks"  disabled=isScriptGone)
            i.small.material-icons.grey-text wifi
        li#settings
          a( href="/bots/{{currentBotId}}/settings"  disabled=isScriptGone)
            i.small.material-icons.grey-text settings
        li#help
          a(href='https://github.com/green-bot/greenbot-core/wiki/{{ wikiName }}' target='_blank')
            i.small.material-icons.grey-text help
        li#delete.right
          a
            i.small.material-icons.grey-text delete
