template(name='bot')
  .card-panel.green.lighten-4
    {{> botRuler }}
    .row
      .col.s10   
        if isScriptGone 
          p.red-text.darken-4 The associated script has been removed.
        else
          if desc_markdown
            {{{ desc_markdown }}}    
          else
            h2= name
