template(name="botData")
  +botRuler
  h1 Data Sinks for {{ name }}

  +autoForm collection="Bots" id="insertBookForm" doc=this type="update"
    {{> afQuickField name='notificationEmails' placeholder='Who to send the results to' }}
    
    .row
      .col.sm12
        | Selected emails
        each emailChips
          .chip {{ this }}


    {{> afQuickField name='notificationEmailSubject' placeholder='What to say in the subject line of a notification email' }}
    {{> afQuickField name='postConversationWebhook' placeholder='Where to post the conversation JSON to'}}
    
    .row
      .center
        input.waves-effect.waves-light.btn.green.submit(type="submit" value="Save")
