template(name='botPlay')
  {{> botRuler}}
  #bot-test-modal
    h4.modal-header Test
    .conversation
    form
      input(type="text" name="msgBox" placeholder="Type something here")

    #log

    a#restart.waves-effect.waves-light.btn(href="#!") Restart conversation
