template(name='botRuler')
  .row
    .col.s1.bot_ruler.summary
      i.material-icons assessment
      p Summary
    .col.s1.bot_ruler.convos
      i.material-icons chat
      p Convos
    .col.s1.bot_ruler.data
      i.material-icons save
      p Data
    .col.s1.bot_ruler.networks
      i.material-icons wifi
      p Networks
    .col.s1.bot_ruler.settings
      i.material-icons settings
      p Config
    .col.s1.bot_ruler.duplicate
      i.material-icons content_copy
      p Duplicate
    .col.s1.bot_ruler.delete
      i.material-icons delete
      p Delete
    .col.s1.bot_ruler.help
      i.material-icons help
      p Help
    .col.s1.bot_ruler.test
      i.material-icons play_circle_outline
      p Test
