template(name='botPlay')
  .card-panel
    .row
      .col.s12
        {{> botRuler }}
    .row
      .input-field.col.s4
        select#network-handle(placeholder="Select a Network Handle")
          option(value='' disabled selected) Select a Network Handle to Start Testing

          each networkHandles
            option(value=this) {{ this }}

    if isNetworkHandleSelected
      .row
        #conversation-tab.col.s12
          #bot-test-modal
            .conversation
            form#send-message-form
              input#send-message(type="text" name="msgBox" placeholder="Type here" autocomplete='off' autofocus=autofocus)
            #log
            if collectedData
              #collected-data
                h2 Collected Data
                {{> jsonView json=collectedData}}
