template(name='botConvos')
  .card-panel.green.lighten-4
    {{> botRuler }}
    h2 Conversations
    {{> reactiveTable collection=convos class="table highlight" settings=tableSettings}}

    #collected-data-modal.modal.modal-fixed-footer
      .modal-content
        h4 Collected data
        {{> jsonView json=collectedData}}
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close

    #transcript-modal.modal.modal-fixed-footer
      .modal-content
        h4 Transcript
        {{> jsonView json=transcriptData}}
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
 
