template(name='botSettings')
  {{> botRuler }}
  h2 Settings for {{ name }}
  each settings
    .row
      .input-field
        input(type='text' name='{{ name }}' value='{{ value }}')
        label.active(for='{{ key }}') {{ name }}
  .row
    .center
      a.waves-effect.waves-light.btn.green.submit Save
