template(name='botRuler')
  .row
    .col.s2.bot_ruler.convos
      i.material-icons chat
      p Convos
    .col.s2.bot_ruler.data
      i.material-icons save
      p Data
    .col.s2.bot_ruler.networks
      i.material-icons wifi
      p Networks
    .col.s2.bot_ruler.settings
      i.material-icons settings
      p Config
    .col.s2.bot_ruler.delete
      i.material-icons delete
      p Delete
    .col.s2.bot_ruler.help
      i.material-icons help
      p Help
