template(name='botRuler')

  #bot-test-modal.modal
    .modal-content
      h4.modal-header Test
      .conversation
      form
        input(type="text" name="msgBox")
    .modal-footer
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close

  nav
    .nav-wrapper.green.darken-2
      ul
        li#info
          a.tooltipped( href="/bot/{{currentBotId}}" data-tooltip='Information' ) 
            i.small.material-icons info
        li#convos
          a.tooltipped( href="/bot/{{currentBotId}}/convos" data-tooltip='Conversations' ) 
            i.small.material-icons chat
        li#data
          a.tooltipped( href="/bot/{{currentBotId}}/data" data-tooltip='Data Sinks' ) 
            i.small.material-icons save
        li#networks
          a.tooltipped( href="/bot/{{currentBotId}}/networks" data-tooltip='Networks' ) 
            i.small.material-icons wifi
        li#settings
          a.tooltipped( href="/bot/{{currentBotId}}/settings" data-tooltip='Settings' ) 
            i.small.material-icons settings
        li#test
          a#browser-test-btn.tooltipped( href="#" data-tooltip='Test' ) 
            i.small.material-icons play_arrow
        li#help
          a.tooltipped(href='https://github.com/green-bot/greenbot-core/wiki/{{ wikiName }}' data-tooltip='Help' ) 
            i.small.material-icons help
        li#delete.right
          a.tooltipped(data-tooltip='Delete' ) 
            i.small.material-icons delete
