template(name="botSidebar")
  .center-align.bot-sidebar
    each bots
      a.btn-large.waves-effect.side-menu(href='/bot/{{_id}}' style='{{selected}}') 
        | {{ name }} 
    .section

    a.btn-floating.btn-large.waves-effect.waves-light.deep-orange.add-bot
      i.material-icons add
  
