template(name='botSettings')
  {{> botRuler }}
  .row
    h2 Settings
    .input-field
      input.name(type='text' name='name' value='{{ name }}')
      label.active(for='name') NAME
  each settings
    .row
      .input-field
        input.setting(type='text' name='{{ name }}' value='{{ value }}')
        label.active(for='{{ key }}') {{ name }}
  .row
    .center
      a.waves-effect.waves-light.btn.green.submit Save
