template(name="botsSidebar")
  .bot-sidebar
    ul.collection.collection-borderless  
      each bots
        li
          a.bot-item(href='/bots/{{_id}}' class=activeStyle) 
            i.material-icons record_voice_over
            {{ name }}
  .center-align
    .fixed-action-button
      a.btn-floating.btn-large.waves-effect.deep-orange.add-bot
        i.material-icons add
