template(name="botsSidebar")
  .bot-sidebar
    ul.collection.collection-borderless  
      each bots
        li
          a.bot-item(href='/bots/{{_id}}' class=activeStyle) 
            i.material-icons record_voice_over
            {{ name }}
    .center-align
      a.btn-floating.btn-large.orange.add-bot
        i.large.material-icons add
